header{
background: url('../../assets/R.jpg') center no-repeat;
background-size: cover;
width: 100%;
max-width: 100%;
text-align: left;
height: auto;
overflow: hidden;
padding: 25px 0px;
margin-top: 0px;
}
header.row{
    margin: 60px 0px;
}
header h2{
    color: #7c0f28;
    font-size: 55px;
    line-height: 60px;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    width: 80%;
}
header p{
    color: #333;
    font-family: 'Tajawal', sans-serif;
    margin: 15px 8px;
}
header button{
    width: 150px;
    height: 50px;
    background-color: #7c0f28;
    border: 1px solid #7c0f28;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    margin: 20px 10px 20px 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Tajawal', sans-serif;
}
header button:last-of-type{
    background-color: #fff;
    color: #000;
}
header button:hover{
    transition: .2s ease-in-out;
}
header button:first-of-type:hover{
    background-color: #fff;
    color: #ac2947;
}
header button:last-of-type:hover{
    background-color: #ac2947;
    color: #fff;
}